<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friendship Score</title>
</head>
<center>
    <body>
        <h1>Friendship Score Calculator</h1>
        <form method="POST" action="/">
        <label for="name1">Friend 1:</label>
        <input type="text" id="name1" name="name1" required><br><br>

        <label for="name2">Friend 2:</label>
        <input type="text" id="name2" name="name2" required><br><br>

        <input type="submit" value="Calculate Score">
        </form>
    </body>
</center>
</html>
