<html>
    <body>
        <center>
            <form method=["POST","GET"] action="/formpage">
                <h1>FRIENDSHIP METOR:</h1>
                <h2>friend name1:</h2>
                <input type="text" placeholder="Enter your 1st friend name:" name="name1"><br>
                <br>
                <h2>friend name2:</h2>
                <input type="text" placeholder="Enter your 2nd friend name:" name="name2"><br>
                <input type="submit" value="submit"/>
            </form>
        </center>
    </body>
</html>